.nav2-usuario {
    display: flex;
    height: 5vh;
    background-color:rgb(255, 68, 68);
    width: 100%;
    padding: 1rem;
    border: 1px solid;
}

.nav2-usuario a {
    color: black;
    font-weight: 800;
    font-size: 2rem;

}

.nav2-usuario ul {
    display: flex;
    padding: 0;
}

.nav2-usuario li {
    list-style: none;
    padding: 0 1rem;
}

#lista-cursos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.curso{
    background-color: antiquewhite;
    border: solid 1px;
    flex: 0 0 40rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}  

.curso p {
    font-size: 1.5rem;
    padding: 0.9rem 2rem;
}

.curso-boton {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    width: 50%;
    border-radius: 0.4rem;
    background-color: rgb(255, 68, 68);
}

.curso div {
    display: flex;
    justify-content: center;
}

#cp {
    display: flex;
    justify-content: center;
}
.btn-aprobar {
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    width: 40%;
    border-radius: 0.4rem;
    background-color: rgb(255, 68, 68);
}

.btn-rechazar {
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    width: 40%;
    border-radius: 0.4rem;
    background-color: rgb(255, 68, 68);
}

.btn-estado {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 5rem;
}

.nav-sesion {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    padding: 1rem;
    border-radius: 0.4rem;
    border: 1px solid ;

}

@media (max-height: 700px) {
    
.nav2-usuario a {
    color: black;
    font-weight: 800;
    font-size: 1.5rem;

}
}