.dashboard {
    padding: 20px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
}


.card h3 {
    color: #555;
    font-size: 18px;
}

.card p {
    font-size: 40px;
    color:rgb(255, 68, 68);
    font-weight: bold;
    margin-top: 10px;
}