*{
    font-size: 10px;
    margin:0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/login-fondo.jpg");
}


.login-nav {
    display: flex;
    height: 10vh;
    background-color:rgb(255, 68, 68);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.login-nav a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 3rem;
}

.registrarse {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    padding: 1rem;
    border-radius: 0.4rem;
    border: 1px solid ;

}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.caja-login{
    padding: 2rem;
    border: 1px solid rgba(128, 128, 128, 0.507);
    border-radius: 0.3rem;
    background-color: aliceblue;
}

#login input{
    width: 100%;
    font-size: 2rem;
    margin:1rem 0;
    border: 1px solid  rgba(128, 128, 128, 0.5);
    border-radius: 0.3rem;
    padding:  0.8rem;
}

#login .boton{
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    width: 100%;
    padding: 1rem;
    border-radius: 0.4rem;
    background-color: rgb(255, 68, 68);
}

#footer {
    display: flex;
    height: 5vh;
    background-color:rgb(255, 68, 68);
    width: 100%;
    justify-content: center;
    align-items: center;
}




body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}



@media (max-height: 700px) {
    .login-nav a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 2rem;
}
.nav2-usuario a {
    color: black;
    font-weight: 800;
    font-size: 1rem;

}
}

@media (max-width: 450px) {
    .login-nav a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 2.5rem;
}

}

